{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block content %}
<div class="block block_bloglist">
  <div class="block__header">
    <h1>Список статей:</h1>
  </div>
  <div class="block__content">
    <div class="blog">
      <div class="blog__list">
        {% for post in posts%}
        <div class="blog__item">
          <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
          <div class="blog__item__meta">
            <i>{{ post.created_date }}</i>
            <div class="blog__tags">
              {% for tag in post.tags.all %}
              <div class="blog__tag"> <a href="?tag={{ tag.id }}">{{ tag }}</a></div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <div class="blog__item blog__item_add">
          <h4><a href="/post/add_new">+ Новый пост</a></h4>
        </div>
        <div class="blog__item blog__item_drafts">
          <h4><a href="?active=0">Вывести черновики</a></h4>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}