.blog {}

.blog>*:not(:last-child) {
  padding-bottom: 10px;
}

.blog__list {}

.blog__item {
  left: 10px;
}

.blog__text {
  text-align: justify;
}


.blog__item:not(:last-child) {
  padding-bottom: 10px;
}

.blog__item__meta {
  display: flex;
  margin-left: 10px;
}

.blog__item__meta>*:not(:last-child) {
  margin-right: 10px;
}

.blog__tags {
  display: flex;
  flex-direction: row;
}

.blog__tag {
  background: #bfbad1;
  padding: 3px;
  border-radius: 5px;
  font-size: 13px;
}

.blog__tag:not(:last-child) {
  margin-right: 5px;
}

.blog__tag a {
  color: #4a4870;
}

.blog__item .blog__tag {
  font-size: 11px;
}