*: {
  position: relative
}
body {
  margin:0; padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1,h2,h3,h4,h5,h5 {
  margin: 0;
  padding: 0;
}

a { color:#6e6d86; text-decoration:none }
a:visited {color:#a1a0bd}
a:hover {text-decoration:underline}

i {color: #999}
p {}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block>* {
  max-width: 900px;
  width: 100%;
}
  .block__header {}
  .block__content {}

  .block_wide {}
  .block_wide>* {
    max-width: unset;
    width: unset;
  }

  .block_header {
    flex-direction: row;
    padding: 5px;
    background: #6e6d86;
    color: #fff;
    box-shadow: 0px 0px 10px -2px #000;
    position: sticky;
    top:0;
  }
  .block_header+.block {
    padding-top: 30px;
  }
  .block_header .block__header {font-size: 2em;}
  .block_header .block__header a {color: inherit;}
  .block_header .block__header a:hover {}
  .block_header .block__content {
    flex-grow: 1;
  }

  .block_footer {
    padding: 5px;
    background: #6e6d86;
    color: #fff;
    margin-top: auto;
  }
  .block_bloglist {}
  .block_bloglist .block__header {
    padding-bottom: 10px;
  }

.blog {}
.blog__list {}
.blog__item {
  left: 10px;
}


.blog__item:not(:last-child) {
  padding-bottom: 10px;
}
